* {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
}

.top-navigation {
    background-color: #303E4E;
    height: 6rem;
}

.top-header {
    background-color: #58B99D;
}

.portfolio-section {
    min-height: 50rem;
    background-color: white;
}

.about-section {
    background-color: #58B99D;
}

.contact-me-section {
    min-height: 50rem;
    background-color: white;
}

.main-footer {
    background-color: #303E4E;
    min-height: 30rem;
}

.copyright-footer {
    background-color: #1C252E;
    min-height: 6rem;
}

.logo {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    font-size: 1.6em;
}

.nav-links, .nav-links:hover {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.person-img {
    width: 15rem;
}

.header-title {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}

.divider-line {
    background-color: white;
    height: 0.3rem;
    width: 5rem;
    border-radius: 0.15rem;
}

.star {
    fill: white;
    width: 2rem;
    margin: 0 1rem 0 1rem;
}

.header-text {
    color: white;
    font-size: 1.5em;
}

.portfolio-section-title {
    color: #303D4E;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.dark-blue-fill {
    fill: #303D4E;
}

.dark-blue-background {
    background-color: #303D4E;
}

.about-title {
    color: white;
    letter-spacing: 0.1em;
    font-weight: 900;
    text-transform: uppercase;
}

.rounded-img {
    border-radius: 1rem !important;
}

.about-text {
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.7em;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: start;
}

.download-icon {
    fill: white;
}

.download-button-text {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.download-button {
    border: solid white 1px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navigation-and-header-container {
        height: 100%;
    }

    .nav-links {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navigation-and-header-container {
        height: 100%;
    }

    .nav-links {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navigation-and-header-container {
        height: 100%;
    }

    .nav-links {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navigation-and-header-container {
        height: 95%;
    }

    .nav-links {
        display: inline;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navigation-and-header-container {
        height: 95%;
    }

    .nav-links {
        display: inline;
    }
}